.pop-up {
  text-align: center;
}

.badge {
  font-size: 14px;
}

.favorite-header {
  text-align: center;
}

.favorite-list {
  width: 100%;
  margin: 0 auto;
}

.favorite-td {
    width:10%; // 3 evenly sized columns
    text-align: center;
}

.favorite-th {
  text-align: center;
}
