* {
  color: black;
}

.card {
  margin-top: 40px;
}

.whiskey-description {
  text-align: center;
}

.whiskey-card-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

button:hover {
  color: green;
}

a {
  color: black;
  &:hover {
    color: white;
  }
}
