.pop-up {
  text-align: center;
}

.wish-header {
  text-align: center;
}

.wish-list {
  width: 100%;
  margin: 0 auto;
}

.wishes-td {
    width:10%; // 3 evenly sized columns
    text-align: center;
}

.wishes-th {
  text-align: center;
}
