$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

.flash-success,
.flash-warning,
.flash-error {
  margin-top: 130px;
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 50px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
  border-radius: 125px;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.input-field {
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  border-bottom: 2px solid #63766e;
  outline: none;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

body {
  background-color: #d3eae7;
}
